@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$headings-font-family: 'Oswald', Arial, serif;
$headings-font-weight: 200;
$display-font-weight: 200;
$font-size-base: 1.2rem;
$font-family-sans-serif: 'Lato', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: 'Lora', serif, Times New Roman;
$font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@import '../../bootstrap/scss/bootstrap.scss';
@import 'quill.snow.css';

.font-serif {
  font-family: $font-family-serif !important;
}

.artefato-titulo {
  font-family: $headings-font-family !important;
  font-weight: 300 !important;
  font-size: 1.15em !important;
  line-height: 110%;
}

.p-limit, p {
  max-width: 70ch;
}

.slightly-larger {
  font-size: 1.5rem;
}

.ch-limit {
  max-width: 90ch;
}

a {
  text-decoration: none;
}

.navbar-brand {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.text-dark-sepia {
  color: #160D04 !important;
}

.bg-sepia {
  background-color: #FBF2E9;
}

.font-serif {
  font-size: 1.3rem;
  font-family: var(--uw-font-serif);
}

.artefato:hover {
  background-color: $gray-100;
}

.link-teal, text-teal {
  color: $teal;
}

.link-teal:hover, .link-teal:focus {
  color: $teal-600;
}

.link-purple, text-purple {
  color: $purple;
}

.link-purple:hover, .link-purple:focus {
  color: $purple-600;
}

.link-orange, text-orange {
  color: $orange;
}

.link-orange:hover, .link-orange:focus {
  color: $orange-600;
}

.link-pink, text-pink {
  color: $pink;
}

.link-pink:hover, .link-pink:focus {
  color: $pink-600;
}

.link-indigo, text-indigo {
  color: $indigo;
}

.link-indigo:hover, .link-indigo:focus {
  color: $indigo-600;
}

.spacing0 {
  padding-left: 0 !important;
}

.spacing1 {
  padding-left: 1ch !important;
}

.spacing2 {
  padding-left: 2ch !important;
}

.spacing3 {
  padding-left: 4ch !important;
}

.spacing4 {
  padding-left: 6ch !important;
}

.spacing5 {
  padding-left: 8ch !important;
}

.remover_tag:hover, .remover_materia:hover, .remover_topico:hover {
  opacity: 0.5;
}

.adicionar_tag, .adicionar_materia, .adicionar_topico, .adicionar_tag2 {
  opacity: 0.8;
}

.adicionar_tag:hover, .adicionar_materia:hover, .adicionar_topico:hover {
  opacity: 1;
}

.lista-texto {
  margin-left: 1ch;
  margin-right: 1ch;
}

.bg-black-transparent {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=0); /* IE6-9 */
}

.quill_container {
  width: 100%;
  max-height: 50vh;
  height: 50vh;
  resize: none;
  outline: none;
  word-wrap: normal;
}

.quill_modal {
  max-width: 90vw;
  width: 70ch;
}

.quill_editor_height {
  height: auto !important;
  max-height: none;
  overflow-y: initial;
  margin-top: 0 !important;
}

.ql-editor-active {
  overflow-y: auto;
  @extend .border, .rounded-bottom, .mt-3, .p-2;
}

.quill_pagina_de_edicao {
  height: initial !important;
  max-height: initial !important;
  overflow-y: auto !important;
  padding: 4ch 4ch;
  /*border: 1px solid #ccc;*/
  margin-top: 0 !important;
  max-width: 75ch;
}

#quill_pagina_edicao {
  margin-left: auto;
  margin-right: auto;
}

.min-vh-50 {
  min-height: 50vh;
}

.bg-success-light {
  background-color: $green-100;
}

navbar {
  z-index: 9999;
}

.nexus-navbar-button {
  @extend .p-2, .m-1, .rounded;
}

.nexus-navbar-button:hover {
  background-color: black;
}