@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');

html {
  font-size: 1.2rem;
}

body {
  min-height: 100vh;
}

@include media-breakpoint-up(sm) {
  html {
  font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
  font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
  font-size: 1.6rem;
  }
}

logo {
  max-width: 20vw;
}

html, body, p, li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.display-1, .display-2, .display-3, .display-4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.navbar { box-shadow: none !important; }

.btn { box-shadow: none !important; }

.playfair400 {
  font-family: 'Playfair Display', serif !important;
  font-weight: 400 !important;
}

.playfair900 {
  font-family: 'Playfair Display', serif !important;
  font-weight: 900 !important;
}

.left-nav-item {
  border: 0;
  border-style: solid;
  border-color: white;
  border-bottom-width: 2px;
}

.left-menu-nav {
  border-radius: 2vh;
}

.right-menu-nav {
  border-style: solid;
  border-color: #2e2e2e;
  border-width: 1px;
  border-radius: 2vh;
  width: 40%;
}

.jumbotron {
  box-shadow: none !important;
}

.navbar .breadcrumb .breadcrumb-item {
  font-weight: 300;
  color: #5f5f5f !important;
}

.searchBar {
  background-color: white;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: black;
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  margin-top: 3vh;
  resize: none;
  padding-left: 1ch;
  padding-right: 1ch;
  outline: none;
	-webkit-box-flex: 1;
	-webkit-appearance: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.quill_container {
  width: 100%;
  max-height: 50vh;
  height: 50vh;
  resize: none;
  outline: none;
  word-wrap: normal;
}

.quill_modal {
  max-width: 90vw;
  width: 70ch;
}

.quill_editor_height {
  min-height: 10em !important;
  height: auto !important;
  max-height: none;
  overflow-y: initial;
}

.ql-editor-active {
  padding: 12px 15px;
  border: 1px solid #ccc;
  max-height: 70vh;
  overflow-y: auto;
}

.footer.page-footer .footer-copyright {
 position: absolute;
 bottom: 0;
 width: 100%;
 z-index:9999999;
}

.cardmateria {
  cursor: pointer;
  border: 0;
  border-style: solid;
  border-bottom-color: #eeeeee;
  border-bottom-width: 0.2rem;
  border-right-width: 0.2rem;
  border-right-color: #eeeeee;
  font-family: 'Oswald', sans-serif;
  font-weight: 300 !important;
  font-size: 0.9rem;
}

.bc-icons .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.breadcrumb {
  background-color: transparent;
}

.cardlimit {
  overflow-y: auto;
  max-height: 300px;
}

.imagem_pagina {
  max-width: 100%;
}

#sticky_anotacoes {
  position: sticky;
  top: 0px;
}

#page_height {
  min-height: 90vh;
}

.spacing0 {
    margin-left: 3ch;
}

.spacing1 {
    margin-left: 6ch;
}

.spacing2 {
    margin-left: 9ch;
}

.spacing3 {
    margin-left: 12ch;
}

.spacing4 {
    margin-left: 15ch;
}

.spacing5 {
    margin-left: 18ch;
}
