@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');
/*
@font-face {
  font-family: "Cooper-Hewitt-Book";
  src: url('../CHtypeface/CooperHewitt-Book.woff') format('woff');
}

@font-face {
  font-family: "Cooper-Hewitt-Book";
  src: url('../CHtypeface/CooperHewitt-BookItalic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: "Cooper-Hewitt-Book";
  src: url('../CHtypeface/CooperHewitt-Medium.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Cooper-Hewitt-Book";
  src: url('../CHtypeface/CooperHewitt-MediumItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cooper-Hewitt-Medium";
  src: url('../CHtypeface/CooperHewitt-Medium.woff') format('woff');
}

@font-face {
  font-family: "Cooper-Hewitt-Medium";
  src: url('../CHtypeface/CooperHewitt-MediumItalic.woff') format('woff');
  font-style: italic;
}*/

$fontstack-mono: "Lucida Console", Monaco, monospace;
$fontstack-body: 'Lato', Arial, Helvetica, sans-serif;
$fontstack-title: 'Oswald', Arial, serif;
$fontstack-subtitle: 'Oswald', Arial, serif;

.fontstack-subtitle {
  font-family: $fontstack-subtitle !important;
}

.fontstack-mono {
  font-family: $fontstack-mono !important;
}

.navbar-brand {
  font-family: $fontstack-subtitle !important;
}

html, body, p, li, select, .md-form, textarea, input {
  font-size: 1.1rem !important;
  font-family: $fontstack-body !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontstack-subtitle !important;
}

.lead {
  font-family: $fontstack-subtitle !important;
}

.display-1, .display-2, .display-3, .display-4 {
  font-family: $fontstack-title !important;
}

.btn {
  font-size: 0.85rem !important;
  font-family: $fontstack-subtitle;
}

body {
  font-weight: 400;
}

.navbar .dropdown-menu a {
  font-weight: 400;
}

strong {
  font-weight: bold;
}

.navbar {
  font-weight: 400;
}

h3 {
  text-align: center;
}

blockquote {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  font-style: italic;
}

blockquote + * {
  margin-top: 1em !important;
}

ul + p {
  margin-top: 1em !important;
}

.logo {
  width: 100%;
}

.navbar .btn-group .dropdown-menu a:hover {
  background-color: #212121 !important;
}
.navbar .btn-group .dropdown-menu a:active {
  background-color: #212121 !important;
}

.navbar { box-shadow: none !important; }

.btn { box-shadow: none !important; }

.left-nav-item {
  border: 0;
  border-style: solid;
  border-color: white;
  border-bottom-width: 2px;
}

.left-menu-nav {
  border-radius: 2vh;
}

.right-menu-nav {
  border-style: solid;
  border-color: #2e2e2e;
  border-width: 1px;
  border-radius: 2vh;
  width: 40%;
}

.jumbotron {
  box-shadow: none !important;
}

.navbar .breadcrumb .breadcrumb-item {
  color: #5f5f5f !important;
}

.barra_busca {
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: black;
  resize: none;
  padding-left: 1ch;
  padding-right: 1ch;
  outline: none;
  -webkit-box-flex: 1;
  -webkit-appearance: none;
  text-align: center;
}

.quill_container {
  width: 100%;
  max-height: 50vh;
  height: 50vh;
  resize: none;
  outline: none;
  word-wrap: normal;
}

.quill_modal {
  max-width: 90vw;
  width: 70ch;
}

.quill_editor_height {
  min-height: 10em !important;
  height: auto !important;
  max-height: none;
  overflow-y: initial;
  margin-top: 0 !important;
}

.ql-editor-active {
  /*padding: 12px 15px;
  border: 1px solid #ccc;
  max-height: 50vh;*/
  overflow-y: auto;
}

.quill_pagina_de_edicao {
  height: initial !important;
  max-height: initial !important;
  overflow-y: auto !important;
  padding: 4ch 4ch;
  /*border: 1px solid #ccc;*/
  margin-top: 0 !important;
  max-width: 75ch;
}

#quill_pagina_edicao {
  margin-left: auto;
  margin-right: auto;
}

.footer.page-footer .footer-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index:9999999;
}

.cardmateria {
  cursor: pointer;
  border: 0;
  border-style: solid;
  border-bottom-color: #eeeeee;
  border-bottom-width: 0.2rem;
  border-right-width: 0.2rem;
  border-right-color: #eeeeee;
  font-family: $fontstack-subtitle;
  font-size: 0.9rem;
}

.bc-icons .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.breadcrumb {
  background-color: transparent;
}

.cardlimit {
  overflow-y: auto;
  max-height: 300px;
}

.imagem_pagina {
  max-width: 100%;
}

.anotacoes_sticky {
  position: sticky;
  top: 0px;
}

#page_height {
  min-height: 90vh;
}

.spacing0 {
  margin-left: 0;
}

.spacing1 {
  margin-left: 2ch;
}

.spacing2 {
  margin-left: 4ch;
}

.spacing3 {
  margin-left: 6ch;
}

.spacing4 {
  margin-left: 8ch;
}

.spacing5 {
  margin-left: 10ch;
}

#mostrar_coluna_direita {
  position: fixed;
  right: 0;
  bottom: 50%;
  font-size: 1rem;
}

.page-element-botoes {
  font-size: 1.5rem;
}

.controls-top {
  margin-bottom: 0 !important;
}

.form-check-label,
.form-check-label:before,
.form-check-label:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.form-check-inline {
  width: fit-content !important;
}

.respostas_box {
  width: 100% !important;
}

.onepage {
  min-height: 100vh;
}

.special-li ol {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1ch !important;
  padding-left: 1ch !important;
  width: fit-content !important;
  margin: auto;
}

.special-li li {
  list-style: none;
  list-style-position: outside;
  white-space: pre;
  padding-right: 1ch;
  padding-left: 1ch;
  margin-left: 0;
  max-width: none !important;
  font-size: 1rem !important;
}

.special-li li:nth-child(5n) {
  list-style: decimal;
  //width: fit-content;
  background-color: #eeeeee;
  border-radius: 2px;
}

#materia_background {
  min-height: 40vh;
}

.artefato {
  font-size: 1rem !important;
}

.artefato:hover {
  background-color: #f5f5f5 !important;
}

.remover_tag:hover, .remover_materia:hover, .remover_topico:hover {
  opacity: 0.5;
}

.adicionar_tag, .adicionar_materia, .adicionar_topico {
  opacity: 0.8;
}

.adicionar_tag:hover, .adicionar_materia:hover, .adicionar_topico:hover {
  opacity: 1;
}

.p-limit {
  max-width: 62ch;
}

.navlink:hover {
  background-color: #212121 !important;
}

.pagina_coluna {
  padding-right: 2ch;
  padding-left: 2ch;
}

.min-w70 {
  min-width: 70%;
}

.materia_hover:hover {
  color: black !important;
  background-color: #e0e0e0 !important;
}

.imagem_produto {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo_ubwiki {
  height: 10em;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.produto-preco {
  width: fit-content;
}

.line-height-1 {
  line-height: 1 !important;
}

a.text-muted:hover {
  color: #424242 !important;
}

.convite_usuario:hover {
  background: #f5f5f5 !important;
}

.compartilhar_usuario:hover {
  background: #f5f5f5 !important;
}

.remover-carrinho:hover {
  background-color: #ff4444 !important;
}

.navbar-brand-pointer {
  cursor: default;
}

.tighten {
  line-height: 1 !important;
}

.artefato-badge {
  right: 5ch;
}

.comentario-timestamp:hover {
  color: #191919 !important;
  cursor: default;
  font-size: inherit !important;
}

ul {
  margin-bottom: 0 !important;
  margin-block-end: 0 !important;
}

.ql-editor ul[data-checked="true"] li {
  text-decoration: line-through !important;
  list-style-type: none;
}

.ql-editor ul[data-checked="false"] li {
  list-style-type: none;
}

.ql-editor ul[data-checked="false"] > li::before {
  content: '\2E3A';
  font-size: 1.5rem;
}

.ql-editor ul[data-checked="true"] li::before {
  content: '\2713';
  font-size: 1.5rem;
}

.noprint, .mw-jump-link, .vertical-navbox, .hatnote, .box-Unreferenced_section, .sistersitebox, .navbox, #mw-head, .portal, #mw-navigation, #footer, #mw-hidden-catlinks, #catlinks, .printfooter, .toccolours, #siteNotice, .ambox, .mw-indicators {
  display: none !important;
}

.wikitable {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
}

.thumbinner {
  width: 100% !important;
  font-size: 1rem;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 1.5em;
  background-color: #fafafa;
  border-radius: 5px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#toc {
  margin-bottom: 1em;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
}

.strip_wikipedia {
  a {
    color: #212529 !important;
  }
  a:hover {
    color: #2979ff !important;
    text-decoration: underline !important;
  }
}

.infobox_v2 {
  width: 100% !important;
  margin: 0;
  padding: 1em;
  background-color: #fafafa;
  border-radius: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.infobox_v2 {
  table {
    width: 100% !important;
    padding: 1em !important;
  }
}

#toc {
  a {
    color: #4285F4 !important;
  }
  li {
    list-style-type: none !important;
  }
}

.elemento-anotacoes {
  max-height: 100vh;
  overflow-y: auto;
}

.ql-toolbar {
  margin-bottom: 1em !important;
}