@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');

html {
font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
  font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
  font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
  font-size: 1.6rem;
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

logo {
  max-width: 20vw;
}

.navbar { box-shadow: none !important; }

.btn { box-shadow: none !important; }

.playfair {
  font-family: 'Playfair Display', serif !important;
}

.jumbotron {
  background-color: #474d55;
  box-shadow: none !important;
  color: white !important;
}

.smaller {
  font-size: 0.9rem;
}

.bg-lighter {
  background-color: #f6f5f3;
}

.bg-dark2 {
  background-color: #b5b5b5;
}

.navbar .breadcrumb .breadcrumb-item {
  font-weight: 400;
  color: #5f5f5f !important;
}

.bdark {
  border: 0;
  border-style: solid;
  border-bottom-color: #b5b5b5;
  border-bottom-width: 0.2rem;
  border-right-width: 0.5rem;
  border-right-color: white;
}

.searchBar {
  background-color: white;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: black;
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  color: black;
  margin-top: 3vh;
  resize: none;
  padding-left: 1ch;
  padding-right: 1ch;
  outline: none;
	-webkit-box-flex: 1;
	-webkit-appearance: none;
  text-align: center;
}

.textarea_verbete {
  width: 100%;
  height: 40em;
  resize: none;
  outline: none;
  word-wrap: normal;
  /* border-style: solid;
  border-color: #f6f5f3;
  border-width: 1px; */
  font-weight: 400;
}

.footer.page-footer .footer-copyright {
 position: absolute;
 bottom: 0;
 width: 100%;
 z-index:9999999;
}

.cardmateria {
  cursor: pointer;
}

.bc-icons .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}
