@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Mono&display=swap');

$headings-font-family: 'Oswald', 'Roboto Condensed', 'Lato', Arial, serif;
$headings-font-weight: 200;
$display-font-weight: 200;
$font-size-base: 1.2rem;
$font-family-sans-serif: 'Lato', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: 'Lora', serif, Times New Roman;
$font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$black: #131618;

@import '../../../repositories/bootstrap/scss/bootstrap.scss';
@import 'quill.snow.css';

.font-half-condensed-400 {
  font-family: 'Roboto Condensed', 'Oswald', 'Lato', sans-serif;
}
.font-half-condensed-300 {
  font-family: 'Roboto Condensed', 'Oswald', 'Lato', sans-serif;
  font-weight: 300;
}

.font-serif {
  font-family: $font-family-serif !important;
}

.artefato-titulo {
  font-family: $headings-font-family !important;
  font-weight: 300 !important;
  font-size: 1.15em !important;
  line-height: 110%;
}

.nexus-title {
  @include font-size(8rem);
}

img {
  max-width: 100%;
}

.p-limit, p {
  max-width: 70ch;
}

.slightly-larger {
  font-size: 1.5rem;
}

.ch-limit {
  max-width: 90ch;
}

a {
  text-decoration: none;
}

.navbar-brand {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.text-dark-sepia {
  color: #160D04 !important;
}

.bg-sepia {
  background-color: #FBF2E9;
}

.font-serif {
  font-size: 1.3rem;
  font-family: var(--uw-font-serif);
}

.artefato:hover {
  background-color: $gray-100;
}

.link-teal, text-teal {
  color: $teal;
}

.link-teal:hover, .link-teal:focus {
  color: $teal-600;
}

.link-purple, text-purple {
  color: $purple;
}

.link-purple:hover, .link-purple:focus {
  color: $purple-600;
}

.link-orange, text-orange {
  color: $orange;
}

.link-orange:hover, .link-orange:focus {
  color: $orange-600;
}

.link-pink, text-pink {
  color: $pink;
}

.link-pink:hover, .link-pink:focus {
  color: $pink-600;
}

.link-indigo, text-indigo {
  color: $indigo;
}

.link-indigo:hover, .link-indigo:focus {
  color: $indigo-600;
}

.spacing0 {
  padding-left: 0 !important;
}

.spacing1 {
  padding-left: 1ch !important;
}

.spacing2 {
  padding-left: 2ch !important;
}

.spacing3 {
  padding-left: 4ch !important;
}

.spacing4 {
  padding-left: 6ch !important;
}

.spacing5 {
  padding-left: 8ch !important;
}

.remover_tag:hover, .remover_materia:hover, .remover_topico:hover {
  opacity: 0.5;
}

.adicionar_tag, .adicionar_materia, .adicionar_topico, .adicionar_tag2 {
  opacity: 0.8;
}

.adicionar_tag:hover, .adicionar_materia:hover, .adicionar_topico:hover {
  opacity: 1;
}

.lista-texto {
  margin-left: 1ch;
  margin-right: 1ch;
}

.quill_container {
  width: 100%;
  max-height: 50vh;
  height: 50vh;
  resize: none;
  outline: none;
  word-wrap: normal;
}

.quill_modal {
  max-width: 90vw;
  width: 70ch;
}

.quill_editor_height {
  height: auto !important;
  max-height: none;
  overflow-y: initial;
  margin-top: 0 !important;
}

.ql-editor-active {
  overflow-y: auto;
  @extend .border, .rounded-bottom, .mt-3, .p-2;
}

.quill_pagina_de_edicao {
  height: initial !important;
  max-height: initial !important;
  overflow-y: auto !important;
  padding: 4ch 4ch;
  /*border: 1px solid #ccc;*/
  margin-top: 0 !important;
  max-width: 75ch;
}

#quill_pagina_edicao {
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-90 {
  min-height: 90vh;
}

.bg-success-light {
  background-color: $green-100;
}

navbar {
  z-index: 9999;
}

#cmdbar:active, #cmdbar:focus, #cmdbar:target-within {
  color: initial;
  outline: none;
}

textarea:focus, input:focus{
  outline: none;
}

#cmdbar {
  max-width: 75%;
  @extend .p-2;
}

.nexus-navbar-button {
  @extend .p-2, .m-1, .rounded;
}

.nexus-navbar-button:hover, .nexus-artefato:hover {
  background-color: black;
}

.link-black {
  a, a:hover, a:active {
    color: black !important;
  }
}

.travelogue_col {
  @extend .bg-darker, .rounded, .border, .border-dark, .border-1, .p-2, .font-half-condensed-400;
}

.bold {
  font-weight: 900;
}

.bg-gray-800 {
  background-color: $gray-800;
}

.nexus-link-blue {
  color: $blue-500;
}

.nexus-link-indigo {
  color: $indigo-500;
}

.nexus-link-purple {
  color: $purple-500;
}

.nexus-link-pink {
  color: $pink-500;
}

.nexus-link-red {
  color: $red-500;
}

.nexus-link-orange {
  color: $orange-500;
}

.nexus-link-yellow {
  color: $yellow-500;
}

.nexus-link-green {
  color: $green-500;
}

.nexus-link-teal {
  color: $teal-500;
}

.nexus-link-cyan {
  color: $cyan-500;
}

.nexus-link-blue:hover {
  color: $blue-600;
}

.nexus-link-indigo:hover {
  color: $indigo-600;
}

.nexus-link-purple:hover {
  color: $purple-600;
}

.nexus-link-pink:hover {
  color: $pink-600;
}

.nexus-link-red:hover {
  color: $red-600;
}

.nexus-link-orange:hover {
  color: $orange-600;
}

.nexus-link-yellow:hover {
  color: $yellow-600;
}

.nexus-link-green:hover {
  color: $green-600;
}

.nexus-link-teal:hover {
  color: $teal-600;
}

.nexus-link-cyan:hover {
  color: $cyan-600;
}

.nexus-bg-blue {
  background-color: $blue-800;
}

.nexus-bg-indigo {
  background-color: $indigo-800;
}

.nexus-bg-purple {
  background-color: $purple-800;
}

.nexus-bg-pink {
  background-color: $pink-800;
}

.nexus-bg-red {
  background-color: $red-800;
}

.nexus-bg-orange {
  background-color: $orange-800;
}

.nexus-bg-yellow {
  background-color: $yellow-800;
}

.nexus-bg-green {
  background-color: $green-800;
}

.nexus-bg-teal {
  background-color: $teal-800;
}

.nexus-bg-cyan {
  background-color: $cyan-800;
}

.nexus-bg-blue:hover {
  background-color: $blue-700;
  .nexus-link-blue {
    color: $blue-900;
  }
}

.nexus-bg-indigo:hover {
  background-color: $indigo-700;
  .nexus-link-indigo {
    color: $indigo-900;
  }
}

.nexus-bg-purple:hover {
  background-color: $purple-700;
  .nexus-link-purple {
    color: $purple-900;
  }
}

.nexus-bg-pink:hover {
  background-color: $pink-700;
  .nexus-link-pink {
    color: $pink-900;
  }
}

.nexus-bg-red:hover {
  background-color: $red-700;
  .nexus-link-red {
    color: $red-900;
  }
}

.nexus-bg-orange:hover {
  background-color: $orange-700;
  .nexus-link-orange {
    color: $orange-900;
  }
}

.nexus-bg-yellow:hover {
  background-color: $yellow-700;
  .nexus-link-yellow {
    color: $yellow-900;
  }
}

.nexus-bg-green:hover {
  background-color: $green-700;
  .nexus-link-green {
    color: $green-900;
  }
}

.nexus-bg-teal:hover {
  background-color: $teal-700;
  .nexus-link-teal {
    color: $teal-900;
  }
}

.nexus-bg-cyan:hover {
  background-color: $gray-700;
  .nexus-link-cyan {
    color: $cyan-900;
  }
}

//.nexus-link-black-blue {
//  color: $blue-500;
//}
//.nexus-link-black-bindigo {
//  color: $indigo-500;
//}
//.nexus-link-black-purple {
//  color: $purple-500;
//}
//.nexus-link-black-pink {
//  color: $pink-500;
//}
//.nexus-link-black-red {
//  color: $red-500;
//}
//.nexus-link-black-orange {
//  color: $orange-500;
//}
//.nexus-link-black-yellow {
//  color: $yellow-500;
//}
//.nexus-link-black-green {
//  color: $green-500;
//}
//
//.nexus-link-black-teal {
//  color: $teal-500;
//}
//
//.nexus-link-black-cyan {
//  color: $cyan-500;
//}
//.nexus-link-black-blue:hover {
//  color: $blue-400;
//}
//.nexus-link-black-indigo:hover {
//  color: $indigo-400;
//}
//.nexus-link-black-purple:hover {
//  color: $purple-400;
//}
//.nexus-link-black-pink:hover {
//  color: $pink-400;
//}
//.nexus-link-black-red:hover {
//  color: $red-400;
//}
//.nexus-link-black-orange:hover {
//  color: $orange-400;
//}
//.nexus-link-black-yellow:hover {
//  color: $yellow-400;
//}
//.nexus-link-black-green:hover {
//  color: $green-400;
//}
//
//.nexus-link-black-teal:hover {
//  color: $teal-400;
//}
//
//.nexus-link-black-cyan:hover {
//  color: $cyan-400;
//}

.nexus-bg-black-blue {
  color: $blue-500;
  @extend .bg-darker;
}
.nexus-bg-black-indigo {
  color: $indigo-500;
  @extend .bg-darker;
}
.nexus-bg-black-purple {
  color: $purple-500;
  @extend .bg-darker;
}
.nexus-bg-black-pink {
  color: $pink-500;
  @extend .bg-darker;
}
.nexus-bg-black-red {
  color: $red-500;
  @extend .bg-darker;
}
.nexus-bg-black-orange {
  color: $orange-500;
  @extend .bg-darker;
}
.nexus-bg-black-yellow {
  color: $yellow-500;
  @extend .bg-darker;
}
.nexus-bg-black-green {
  color: $green-500;
  @extend .bg-darker;
}
.nexus-bg-black-teal {
  color: $teal-500;
  @extend .bg-darker;
}
.nexus-bg-black-cyan {
  color: $cyan-500;
  @extend .bg-darker;
}

.nexus-bg-black-blue:hover, .nexus-bg-black-active {
  background-color: $blue-600;
    color: $blue-100;
}

.nexus-bg-black-indigo:hover, .nexus-bg-black-active {
  background-color: $indigo-600;
    color: $indigo-100;
}

.nexus-bg-black-purple:hover, .nexus-bg-black-active {
  background-color: $purple-600;
    color: $purple-100;
}

.nexus-bg-black-pink:hover, .nexus-bg-black-active {
  background-color: $pink-600;
    color: $pink-100;
}

.nexus-bg-black-red:hover, .nexus-bg-black-active {
  background-color: $red-600;
    color: $red-100;
}

.nexus-bg-black-orange:hover, .nexus-bg-black-active {
  background-color: $orange-600;
    color: $orange-100;
}

.nexus-bg-black-yellow:hover, .nexus-bg-black-active {
  background-color: $yellow-600;
    color: $yellow-100;
}

.nexus-bg-black-green:hover, .nexus-bg-black-active {
  background-color: $green-600;
    color: $green-100;
}

.nexus-bg-black-teal:hover, .nexus-bg-black-active {
  background-color: $teal-600;
    color: $teal-100;
}

.nexus-bg-black-cyan:hover, .nexus-bg-black-active {
  background-color: $cyan-600;
    color: $cyan-100;
}

.nexus-bg-black-blue-border {
  color: $blue-500;
  border-bottom-color: $blue-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-indigo-border {
  color: $indigo-500;
  border-bottom-color: $indigo-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-purple-border {
  color: $purple-500;
  border-bottom-color: $purple-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-pink-border {
  color: $pink-500;
  border-bottom-color: $pink-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-red-border {
  color: $red-500;
  border-bottom-color: $red-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-orange-border {
  color: $orange-500;
  border-bottom-color: $orange-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-yellow-border {
  color: $yellow-500;
  border-bottom-color: $yellow-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-green-border {
  color: $green-500;
  border-bottom-color: $green-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-teal-border {
  color: $teal-500;
  border-bottom-color: $teal-500;
  @extend .include_bg-black-border;
}
.nexus-bg-black-cyan-border {
  color: $cyan-500;
  border-bottom-color: $cyan-500;
  @extend .include_bg-black-border;
}

.include_bg-black-border {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  @extend .bg-darker;
}

.bg-darker {
  //background-color: $gray-900;
  background-color: #191919;
}

.bg-transparent-gray {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9 ) 0%, rgba(0, 0, 0, 0.9 ) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9  ) 0%, rgba(0, 0, 0, 0.9 ) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9  ) 0%, rgba(0, 0, 0, 0.9 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=0); /* IE6-9 */
}

.bg-transparent {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#212529+0,212529+100&0+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(33,37,41,0) 0%, rgba(33,37,41,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(33,37,41,0) 0%,rgba(33,37,41,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(33,37,41,0) 0%,rgba(33,37,41,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212529', endColorstr='#00212529',GradientType=0 ); /* IE6-9 */
}

.nexus-bg-black-blue-border:hover {
  background-color: $blue-600;
    color: $blue-100;
  border-bottom-color: $blue-100;
}

.nexus-bg-black-indigo-border:hover {
  background-color: $indigo-600;
    color: $indigo-100;
  border-bottom-color: $indigo-100;
}

.nexus-bg-black-purple-border:hover {
  background-color: $purple-600;
    color: $purple-100;
  border-bottom-color: $purple-100;
}

.nexus-bg-black-pink-border:hover {
  background-color: $pink-600;
    color: $pink-100;
  border-bottom-color: $pink-100;
}

.nexus-bg-black-red-border:hover {
  background-color: $red-600;
    color: $red-100;
  border-bottom-color: $red-100;
}

.nexus-bg-black-orange-border:hover {
  background-color: $orange-600;
    color: $orange-100;
  border-bottom-color: $orange-100;
}

.nexus-bg-black-yellow-border:hover {
  background-color: $yellow-600;
    color: $yellow-100;
  border-bottom-color: $yellow-100;
}

.nexus-bg-black-green-border:hover {
  background-color: $green-600;
    color: $green-100;
  border-bottom-color: $green-100;
}

.nexus-bg-black-teal-border:hover {
  background-color: $teal-600;
    color: $teal-100;
  border-bottom-color: $teal-100;
}

.nexus-bg-black-cyan-border:hover {
  background-color: $cyan-600;
    color: $cyan-100;
  border-bottom-color: $cyan-100;
}

.nexus-highlight-blue {
  background-color: $blue-200;
    @extend .border, .rounded;
}

.nexus-highlight-indigo {
  background-color: $indigo-200;
    @extend .border, .rounded;
}

.nexus-highlight-purple {
  background-color: $purple-200;
    @extend .border, .rounded;
}

.nexus-highlight-pink {
  background-color: $pink-200;
    @extend .border, .rounded;
}

.nexus-highlight-red {
  background-color: $red-200;
    @extend .border, .rounded;
}

.nexus-highlight-orange {
  background-color: $orange-200;
    @extend .border, .rounded;
}

.nexus-highlight-yellow {
  background-color: $yellow-200;
    @extend .border, .rounded;
}

.nexus-highlight-green {
  background-color: $green-200;
    @extend .border, .rounded;
}

.nexus-highlight-teal {
  background-color: $teal-200;
    @extend .border, .rounded;
}

.nexus-highlight-cyan {
  background-color: $cyan-200;
    @extend .border, .rounded;
}

.gray900-transparent {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#212529+0,212529+100&0.8+0,0.8+100 */
  background: -moz-linear-gradient(top,  rgba(33,37,41,0.8) 0%, rgba(33,37,41,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(33,37,41,0.8) 0%,rgba(33,37,41,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(33,37,41,0.8) 0%,rgba(33,37,41,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc212529', endColorstr='#cc212529',GradientType=0 ); /* IE6-9 */
}

//.nexus-text-blue {
//  color: $blue-500;
//}
//.nexus-text-indigo {
//  color: $indigo-500;
//}
//.nexus-text-purple {
//  color: $purple-500;
//}
//.nexus-text-pink {
//  color: $pink-500;
//}
//.nexus-text-red {
//  color: $red-500;
//}
//.nexus-text-orange {
//  color: $orange-500;
//}
//.nexus-text-yellow {
//  color: $yellow-500;
//}
//.nexus-text-green {
//  color: $green-500;
//}
//.nexus-text-teal {
//  color: $teal-500;
//}
//.nexus-text-cyan {
//  color: $cyan-500;
//}
//


