<script type='text/javascript'>
    $(document).ready(function () {
        $('.novosub').hide();
    });
    $('#novosub1').on('input', function () {
        $('#novosub2').show();
    });
    $('#novosub2').on('input', function () {
        $('#novosub3').show();
    });
    $('#novosub3').on('input', function () {
        $('#novosub4').show();
    });
    $('#novosub4').on('input', function () {
        $('#novosub5').show();
    });
    $('#novosub5').on('input', function () {
        $('#novosub6').show();
    });
    $('#novosub6').on('input', function () {
        $('#novosub7').show();
    });
    $('#novosub7').on('input', function () {
        $('#novosub8').show();
    });
    $('#novosub8').on('input', function () {
        $('#novosub9').show();
    });
    $('#novosub9').on('input', function () {
        $('#novosub10').show();
    });
    $('#novosub10').on('input', function () {
        $('#novosub11').show();
    });
    $('#novosub11').on('input', function () {
        $('#novosub12').show();
    });
    $('#novosub12').on('input', function () {
        $('#novosub13').show();
    });
    $('#novosub13').on('input', function () {
        $('#novosub14').show();
    });
    $('#novosub14').on('input', function () {
        $('#novosub15').show();
    });
    $('#novosub15').on('input', function () {
        $('#novosub16').show();
    });
    $('#novosub16').on('input', function () {
        $('#novosub17').show();
    });
    $('#novosub17').on('input', function () {
        $('#novosub18').show();
    });
    $('#novosub18').on('input', function () {
        $('#novosub19').show();
    });
    $('#novosub19').on('input', function () {
        $('#novosub20').show();
    });
</script>