<script type='text/javascript'>
    $('#mostrar_coluna_direita').hide();
    $('#esconder_anotacoes').click(function () {
        $('#coluna_direita').hide();
        $('#mostrar_coluna_direita').show();
        $('#coluna_esquerda').addClass('col-lg-6');
        $('#coluna_esquerda').removeClass('col-lg-5');
    });
    $('#mostrar_coluna_direita').click(function () {
        $('.anotacoes_collapse').show();
        $('#mostrar_anotacoes').hide();
        $('#mostrar_coluna_direita').hide();
        $('#coluna_direita').show();
        $('#coluna_esquerda').addClass('col-lg-5');
        $('#coluna_esquerda').removeClass('col-lg-6');
    })
</script>