<footer class='page-footer font-small grey lighten-3 pt-4 text-muted'>
    <div class='container text-center text-md-left'>
        <div class='row'>
            <div class='col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1'>
                <h5 class='font-weight-bold text-uppercase mb-4'>Termos de uso</h5>
                <p>Para ler nossos termos de uso, por favor <a href='termos.php' class='text-muted' target='_blank'><u>clique
                    aqui</u></a>.</p>
            </div>
            <hr class='clearfix w-100 d-md-none'>
            <div class='col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1'>
                <h5 class='font-weight-bold text-uppercase mb-4'>Grupo Ubique</h5>

                <ul class='list-unstyled'>
                    <li>
                        <p>
                            <a href='#!' class='text-muted' href='https://www.grupoubique.com'
                               target='_blank'>Portal</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href='#!' class='text-muted' href='index.php'>Ubwiki</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a class='text-muted' href='https://praeterea.com.br/' target='_blank'>Praeterea</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a class='text-muted' href='https://ava.ensinabox.com/espacozeitgeist' target='_blank'>Espaço
                                Zeitgeist</a>
                        </p>
                    </li>
                </ul>
            </div>
            <hr class='clearfix w-100 d-md-none'>
            <div class='col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1'>
                <h5 class='font-weight-bold text-uppercase mb-4'>Contatos</h5>
                <ul class='list-unstyled'>
                    <li>
                        <p>
                            <i class='fas fa-envelope fa-fw mr-3'></i> info@grupoubique.com</p>
                    </li>
                    <li>
                        <p>
                            <i class='fab fa-whatsapp fa-fw mr-3'></i> +244 912 552 359</p>
                    </li>
                </ul>
            </div>
            <hr class='clearfix w-100 d-md-none'>
            <div class='col-md-2 col-lg-2 text-center mx-auto my-4'>
                <h5 class='font-weight-bold text-uppercase mb-4'>Siga-nos</h5>
                <a type='button' class='btn-floating elegant-color text-white'
                   href='https://www.instagram.com/falcao.marcilio' target='_blank'>
                    <i style='transform: translateY(70%)' class='fab fa-instagram fa-fw'></i>
                </a>
                <a type='button' class='btn-floating elegant-color text-white'
                   href='https://www.youtube.com/channel/UCTYT8j8Mdf1e1wnAt6nudEA/videos' target='_blank'>
                    <i style='transform: translateY(70%)' class='fab fa-youtube fa-fw'></i>
                </a>
                <a type='button' class='btn-floating elegant-color text-white' href='https://www.grupoubique.com.br'
                   target='_blank'>
                    <i style='transform: translateY(70%)' class='fas fa-home fa-fw'></i>
                </a>
            </div>
        </div>
    </div>
    <div class='footer-copyright text-center py-3 grey text-white'>© 2019, Marca Registrada do Grupo Ubique</a>
    </div>
</footer>