<script type='text/javascript'>
    $(document).ready(function () {
        $('#barra_busca').focus();
        $('#trigger_busca').click(function () {
            var command = $('#barra_busca').val();
            var command = btoa(command);
            var curso = $('#trigger_busca').val();
            var curso = btoa(curso);
            $.post('engine.php', {'sbcommand': command, 'sbcurso': curso}, function (data) {
                $('#barra_busca').val('');
                if (data != 0) {
                    var pw = data.substring(0, 16);
                    var pw2 = data.substring(16);
                    if (pw == 'notfoundnotfound') {
                        $('#barra_busca').val(pw2);
                    } else if (pw == 'foundfoundfoundf') {
                        window.open(pw2, '_self');
                    }
                }
            });
            return false;
        });
    });
</script>